{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry",
        "targets": {
          "ie": "11"
        }
      }
    ]
  ],
  "plugins": [
    "react-hot-loader/babel"
  ]
}
