* {
  box-sizing: border-box;
  font-family: sans-serif;
}

input, textarea {
  resize: none;

  &:focus{
    outline: none;
  }
}

html, body {
  height: 100%;

  margin: 0;
  padding: 0;
}

a {
  &:link {
    color: unset;
  }

  &:visited {
    color: unset;
  }

  &:hover {
    color: unset;

  }

  &:active {
    color: unset;
  }
}
